<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Entry</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        .a{
            color:darkred;
            background-color: rgb(223, 192, 182);
            padding: 25px;
            width: 100%;
        }
        #b{
            height:150px;
        }
        #i{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id='i'><h1>Enter Your Goal</h1></div>
    <div>
    <form action="btn" method='POST' >
        {% csrf_token %}
        <input type="text" placeholder='Title' class='a'name='data1'><br>
        <input type="text" placeholder="Description" class='a' id='b'name='data2'><br>
        <input type="submit">
    </form>
</div>
    
</body>
</html>